/*************************************/
/*************** BASE ****************/
/*************************************/

:root
{
	--dark: #111;
	--red: #800;
}

html
{
	background: var(--dark);
  word-wrap: break-word;
}

body
{
	color: var(--dark);
	font-family: 'Exo', sans-serif;
	font-size: 2vmin;
	line-height: 1.1;
	text-align: justify;
}

a
{
	color: inherit;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

h1
{
	border-bottom: solid 0.1vmin transparent;
	border-image: linear-gradient(to right, transparent, var(--red), transparent) 1;
	font-family: 'Exo 2', sans-serif;
	font-size: 4.2vmin;
	font-weight: 500;
	margin-bottom: 1.5vmin;
	padding: 0.5vmin 2vmin;
	text-shadow: 0.1vmin 0.1vmin 0.1vmin rgba(80,0,0,0.5);
}

h2
{
	color: var(--red);
	font-size: 2vmin;
	font-weight: 500;
	margin-bottom: 2vmin;
}

hr
{
	border-bottom: solid 0.1vmin transparent;
	border-image: linear-gradient(to right, transparent, rgba(80,0,0,0.5), transparent) 1;
	box-sizing: border-box;
	margin: 2vmin auto;
	width: 100%;
}

p
{
	margin: 1.5vmin 0;
}

#D3Cube
{
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin: auto;
	position: fixed;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
			transform-style: preserve-3d;
  -webkit-transition: transform 3s ease-in-out;
     -moz-transition: transform 3s ease-in-out;
       -o-transition: transform 3s ease-in-out;
  	      transition: transform 3s ease-in-out;
	transform: rotate3d(1,0,0,-90deg);
	width: 100%;
}

.sides
{
	align-items: center;
	background-color: white;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
					backface-visibility: hidden;
	border: solid 0.3vmin #eee;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 5%;
  position: absolute;
	-webkit-transition: background-color 2s ease-in-out, border 2s ease-in-out;
	   -moz-transition: background-color 2s ease-in-out, border 2s ease-in-out;
	     -o-transition: background-color 2s ease-in-out, border 2s ease-in-out;
					transition: background-color 2s ease-in-out, border 2s ease-in-out;
}

#side1
{
  -webkit-transform: rotateX(90deg) translateZ(200px);
	   -moz-transform: rotateX(90deg) translateZ(200px);
	    -ms-transform: rotateX(90deg) translateZ(200px);
	     -o-transform: rotateX(90deg) translateZ(200px);
			    transform: rotateX(90deg) translateZ(200px);
}

#side2
{
  -webkit-transform: rotateY(180deg) translateZ(200px);
	   -moz-transform: rotateY(180deg) translateZ(200px);
	    -ms-transform: rotateY(180deg) translateZ(200px);
	     -o-transform: rotateY(180deg) translateZ(200px);
	    		transform: rotateY(180deg) translateZ(200px);
}

#side3
{
  -webkit-transform: rotateY(-90deg) translateZ(200px);
	   -moz-transform: rotateY(-90deg) translateZ(200px);
	    -ms-transform: rotateY(-90deg) translateZ(200px);
	     -o-transform: rotateY(-90deg) translateZ(200px);
			    transform: rotateY(-90deg) translateZ(200px);
}

#side4
{
  -webkit-transform: translateZ(200px);
	   -moz-transform: translateZ(200px);
	    -ms-transform: translateZ(200px);
	     -o-transform: translateZ(200px);
			    transform: translateZ(200px);
}

#side5
{
  -webkit-transform: rotateY(90deg) translateZ(200px);
	   -moz-transform: rotateY(90deg) translateZ(200px);
	    -ms-transform: rotateY(90deg) translateZ(200px);
	     -o-transform: rotateY(90deg) translateZ(200px);
			    transform: rotateY(90deg) translateZ(200px);
}

#side6
{
  -webkit-transform: rotateX(-90deg) translateZ(200px);
	   -moz-transform: rotateX(-90deg) translateZ(200px);
	    -ms-transform: rotateX(-90deg) translateZ(200px);
	     -o-transform: rotateX(-90deg) translateZ(200px);
			    transform: rotateX(-90deg) translateZ(200px);
}

/************************************/
/************* CONTENU **************/
/************************************/

#moon
{
	height: 4.5vmin;
	opacity: 0;
	-webkit-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		 -moz-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		   -o-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		 			transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
	right: -11vmin;
	z-index: 101;
}

#sun
{
	filter: invert(0) drop-shadow(0 0 0.5vmin #6666);
	-webkit-transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
		 -moz-transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
		   -o-transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
		 			transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
	height: 5vmin;
}

.content
{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	justify-content: center;
	overflow: hidden;
	padding: 3% 15%;
	width: 100%;
}

.content > div
{
	margin: auto;
	width: 95%;
}

.content.scrollHaut
{
	background-image: linear-gradient(to bottom, transparent 96%, #6666 104%);
}

.content.scrollBas
{
	background-image: linear-gradient(to bottom, #6666 -4%, transparent 4%);
}

.content.scrollMilieu
{
	background-image: linear-gradient(to bottom, #6666 -4%, transparent 4%, transparent 96%, #6666 104%);
}

#sign
{
	margin: 3%;
	width: 70%;
	-webkit-transition: filter 2s ease-in-out;
		 -moz-transition: filter 2s ease-in-out;
		   -o-transition: filter 2s ease-in-out;
		 			transition: filter 2s ease-in-out;
}

#fleche
{
	display: flex;
	flex-wrap: wrap;
	height: 6.66%;
	min-height: 3vmin;
	justify-content: center;
}

#fleche img
{
	cursor: pointer;
	height: 70%;
	-webkit-transition: all 2s ease-in-out, height 0.3s ease-in-out, filter 0.3s ease-in-out;
     -moz-transition: all 2s ease-in-out, height 0.3s ease-in-out, filter 0.3s ease-in-out;
       -o-transition: all 2s ease-in-out, height 0.3s ease-in-out, filter 0.3s ease-in-out;
	    		transition: all 2s ease-in-out, height 0.3s ease-in-out, filter 0.3s ease-in-out;
	filter: drop-shadow(0 0 0 #666c) grayscale(100%);
}

#fleche img:hover
{
	height: 90%;
	filter: drop-shadow(0 1.5vmin 1vmin #666c) grayscale(100%);
}

.dev
{
	cursor: pointer;
	display: block;
	-webkit-transition: all 2s ease-in-out, width 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
     -moz-transition: all 2s ease-in-out, width 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
       -o-transition: all 2s ease-in-out, width 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
		 			transition: all 2s ease-in-out, width 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.hidden
{
	width: 2vmin;
	transform: rotate(270deg);
  filter: drop-shadow(0 0 0 #666) grayscale(100%);
}

.shown
{
	width: 3vmin;
	transform: rotate(135deg);
  filter: drop-shadow(0vmin -0.3vmin 0.3vmin #666) grayscale(0%);
}

.detail
{
	height: auto;
	overflow: hidden;
	padding: 0 2.5vmin;
	-webkit-transition: height 0.2s ease-in-out;
     -moz-transition: height 0.2s ease-in-out;
       -o-transition: height 0.2s ease-in-out;
		 			transition: height 0.2s ease-in-out;
}

.detail a,
.detail p
{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.detail img
{
	box-shadow: 0 0 1vmin #666;
	display: block;
	margin: 3vmin auto 1.5vmin;
	max-width: 80%;
}

.pdf
{
	cursor: pointer;
	background-image: url(../IMG/pdf.png);
	height: 2vmin;
	width: 2vmin;
}

.portfolio
{
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

div.site
{
	background-position: center;
	background-size: cover;
	box-shadow: 0 0 1vmin #6666;
	height: 40vmin;
	margin: 2.5vmin;
	overflow: hidden;
	width: 40vmin;
}

#jdrDices
{
	background-image: url(../IMG/jdrDices.png);
}

#Inscription
{
	background-image: url(../IMG/Inscription.jpg);
}

#Musique
{
	background-image: url(../IMG/Musique.jpg);
}

#gaejeong
{
	background-image: url(../IMG/gaejeong.png);
}

#satettnt
{
  background-image: url(../IMG/sattnt.png);
}

#Dice
{
	background-image: url(../IMG/Dice.jpg);
}

#Suite
{
	background-image: url(../IMG/Suite.jpg);
}

div.site p
{
	align-items: center;
	background-color: #4008;
	box-sizing: border-box;
	color: #ddd;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0;
	opacity: 0;
	padding: 1.5vmin;
	text-align: center;
	-webkit-transition: opacity 0.5s ease-in-out;
		 -moz-transition: opacity 0.5s ease-in-out;
		   -o-transition: opacity 0.5s ease-in-out;
		 			transition: opacity 0.5s ease-in-out;
	width: 100%;
}

div.site:hover p
{
	opacity: 1;
}

#contact
{
	margin: auto;
	text-align: left;
	width: 70%;
}

#contact td
{
	padding: 0.3vmin;
}

#contact td:last-child
{
	text-align: right;
}

#citation
{
	font-family: 'Italianno', cursive;
	text-align: center;
	text-indent: 0;
	font-size: 4vmin;
}

#citation2
{
	align-self: flex-end;
	font-family: 'Italianno', cursive;
	font-size: 3.5vmin;
	margin-bottom: 3%;
	margin-right: 5%;
	text-indent: 0;
}

#fin
{
	font-size: 1.5vmin;
	opacity: 0.666;
	text-align: center;
}

#toggleMentions
{
	cursor: pointer;
}

#toggleMentions:hover
{
	text-decoration: underline;
}

#mentions
{
  align-items: center;
	background-color: #f9f9f9;
	box-shadow: 0 0 1vmin #6666;
	display: none;
	flex-direction: column;
  height: 50%;
  justify-content: center;
  left: 25%;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 25%;
	-webkit-transition: all 2s ease-in-out, opacity 0.5s ease-in-out;
		 -moz-transition: all 2s ease-in-out, opacity 0.5s ease-in-out;
		   -o-transition: all 2s ease-in-out, opacity 0.5s ease-in-out;
		 			transition: all 2s ease-in-out, opacity 0.5s ease-in-out;
  width: 50%;
}

#mentions.visible
{
	display: flex;
	opacity: 0.9;
}

#mentions h1
{
	font-size: 2.8vmin;
}

/*************************************/
/*************** MENU ****************/
/*************************************/

#menu
{
	background-color: white;
	bottom: 0;
	box-shadow: 0 0 1vmin #6666;
	box-sizing: border-box;
	height: 7.5vmin;
	overflow: hidden;
	padding-right: 1.5vmin;
	position: fixed;
	-webkit-transition: background-color 2s ease-in-out, opacity 1s ease-in-out, top 0.5s ease-in-out;
     -moz-transition: background-color 2s ease-in-out, opacity 1s ease-in-out, top 0.5s ease-in-out;
       -o-transition: background-color 2s ease-in-out, opacity 1s ease-in-out, top 0.5s ease-in-out;
	    		transition: background-color 2s ease-in-out, opacity 1s ease-in-out, top 0.5s ease-in-out;
	width: 100%;
}

#toggleMenu
{
	align-items: center;
	background-color: #ccc3;
	border: solid 0.1vmin #6666;
	box-shadow: 0 0 0.5vmin #6666;
	box-sizing: border-box;
	cursor: pointer;
	display: none;
	flex-direction: column;
	height: 4vh;
	justify-content: space-evenly;
	left: 1vh;
	padding: 0;
	position: fixed;
	top: 1vh;
	-webkit-transition: all 0.3s ease-in-out;
		 -moz-transition: all 0.3s ease-in-out;
			 -o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
	width: 4vh;
}

#toggleMenu:hover
{
	background-color: #ccc1;
	border: solid 0.1vmin #800;
}

#toggleMenu:hover #hamburger,
#toggleMenu:hover #hamburger::before,
#toggleMenu:hover #hamburger::after
{
	background-color: #a00;
}

#hamburger::before,
#hamburger,
#hamburger::after
{
	background-color: #555;
	border-radius: 6.66%/50%;
	height: 2px;
	left: 0;
	position: relative;
	-webkit-transform: rotateZ(0deg);
     -moz-transform: rotateZ(0deg);
       -o-transform: rotateZ(0deg);
	    		transform: rotateZ(0deg);
	-webkit-transition: background-color 0.3s ease-in-out, width 0.5s ease-in-out, left 0.5s ease-in-out, top 0.5s ease-in-out, transform 0.5s ease-in-out;
     -moz-transition: background-color 0.3s ease-in-out, width 0.5s ease-in-out, left 0.5s ease-in-out, top 0.5s ease-in-out, transform 0.5s ease-in-out;
       -o-transition: background-color 0.3s ease-in-out, width 0.5s ease-in-out, left 0.5s ease-in-out, top 0.5s ease-in-out, transform 0.5s ease-in-out;
	    		transition: background-color 0.3s ease-in-out, width 0.5s ease-in-out, left 0.5s ease-in-out, top 0.5s ease-in-out, transform 0.5s ease-in-out;
	width: 2.8vh;
}

#hamburger::before,
#hamburger::after
{
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
}

#hamburger::before
{
	top: -1vh;
}

#hamburger
{
	top: 0vh;
}

#hamburger::after
{
	top: 1vh;
}

#hamburger.cross::before
{
	left: -1.6vh;
	top: 0vh;
	-webkit-transform: rotateZ(45deg);
		 -moz-transform: rotateZ(45deg);
			 -o-transform: rotateZ(45deg);
					transform: rotateZ(45deg);
	width: 3.2vh;
}

#hamburger.cross
{
	width: 0;
}

#hamburger.cross::after
{
	left: -1.6vh;
	top: 0vh;
	-webkit-transform: rotateZ(-45deg);
		 -moz-transform: rotateZ(-45deg);
			 -o-transform: rotateZ(-45deg);
					transform: rotateZ(-45deg);
	width: 3.2vh;
}

#pages
{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	-webkit-transition: background-color 2s ease-in-out, opacity 1s ease-in-out;
     -moz-transition: background-color 2s ease-in-out, opacity 1s ease-in-out;
       -o-transition: background-color 2s ease-in-out, opacity 1s ease-in-out;
	    		transition: background-color 2s ease-in-out, opacity 1s ease-in-out;
	width: 100%;
}

.chgmtPage
{
	align-items: center;
	background-color: #aaa3;
	border: solid 0.1vmin #aaaa;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	height: 5vmin;
	justify-content: center;
	margin: 0.5vmin;
	padding: 1.5vmin;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out, border-image 0s;
     -moz-transition: all 0.3s ease-in-out, border-image 0s;
	     -o-transition: all 0.3s ease-in-out, border-image 0s;
 	    		transition: all 0.3s ease-in-out, border-image 0s;
	min-width: 5vmin;
}

.chgmtPage:hover
{
	background-color: #aaa1;
	border: solid 0.1vmin rgb(80,6,6);
	color: rgb(50,6,6);
}

.chgmtPage img
{
	filter: grayscale(100%);
	height: 3vmin;
	-webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
	    		transition: all 0.3s ease-in-out;
}

.chgmtPage:hover img
{
	filter: grayscale(0%);
}

.pageActive
{
	background-color: #aaa1;
	border: solid 0.1vmin rgb(100,0,0);
	color: var(--red);
}

.pageActive img
{
	filter: grayscale(0%);
}

#mode
{
	align-items: center;
	display: flex;
	height: 5vmin;
	position: fixed;
	right: 2.5vmin;
	top: 1vmin;
	z-index: 100;
}

#mode img
{
	cursor: pointer;
	position: relative;
}

#cookie
{
	background: #3331;
	border: solid 0.1vmin rgb(130, 0 ,0);
  box-sizing: border-box;
  left: 2vmin;
  max-width: 30%;
  padding: 1.1vmin 1.7vmin;
  position: fixed;
	top: 2vmin;
	-webkit-transition: all 2s ease-in-out, opacity 1s ease-in-out;
		 -moz-transition: all 2s ease-in-out, opacity 1s ease-in-out;
		   -o-transition: all 2s ease-in-out, opacity 1s ease-in-out;
		 			transition: all 2s ease-in-out, opacity 1s ease-in-out;
}

#cookies
{
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin-top: 0.7vmin;
}

.cookies
{
	background-color: #aaa3;
	border: solid 0.1vmin #aaaa;
	cursor: pointer;
	flex: 1;
	margin: 0.5vmin;
	padding: 0.7vmin 1.3vmin;
	text-align: center;
}

.cookies:hover
{
	background-color: #aaa1;
	border: solid 0.1vmin rgb(100, 0 ,0);
	color: rgb(80, 0, 0);
}

/*************************************/
/************** SCROLL ***************/
/*************************************/

#scrollBar
{
	background-color: rgb(245, 245, 245);
	box-shadow: 0 0 0.5vmin #6666;
	box-sizing: border-box;
	cursor: pointer;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	opacity: 0;
	outline: none;
	overflow: hidden;
	right: 0;
	top: 0;
  -webkit-transition: all 2s ease-in-out, opacity 1s ease-in-out, width 0s;
	   -moz-transition: all 2s ease-in-out, opacity 1s ease-in-out, width 0s;
	     -o-transition: all 2s ease-in-out, opacity 1s ease-in-out, width 0s;
		    	transition: all 2s ease-in-out, opacity 1s ease-in-out, width 0s;
	width: 0vmin;
	z-index: 100;
}

#scrollBar:hover
{
	background-color: #eee;
	box-shadow: 0 0 0.5vmin #666a;
}

#scrollTrack
{
	background-color: #6666;
	box-sizing: border-box;
	height: 3vmin;
	margin: 0;
	padding: 0;
	position: absolute;
	-webkit-transition: all 2s ease-in-out, top 0s, width 0s, height 1s;
		 -moz-transition: all 2s ease-in-out, top 0s, width 0s, height 1s;
		   -o-transition: all 2s ease-in-out, top 0s, width 0s, height 1s;
					transition: all 2s ease-in-out, top 0s, width 0s, height 1s;
	width: 1vmin;
}

#scrollBar:hover #scrollTrack
{
	background-color: #666c;
}



/******************************************************************************/
/*******************************   NIGHT MODE   *******************************/
/******************************************************************************/

/*************************************/
/*************   BASE   **************/
/*************************************/

html.night
{
	background: #ccc;
}

body.night
{
	color: #ddd;
}

h1.night
{
	border-image: linear-gradient(to right, transparent, rgba(157,0,0,1), transparent) 1;
	text-shadow: 0.1vmin 0.1vmin 0.1vmin rgba(157,0,0,1);
}

h2.night
{
	color: rgb(149,0,0);
}

hr.night
{
	border-image: linear-gradient(to right, transparent, rgba(157,0,0,0.5), transparent) 1 ;
}

.sides.night
{
	background-color: #111;
	border: solid 0.3vmin #222;
}

/************************************/
/************* CONTENU **************/
/************************************/

#sun.night
{
	filter: invert(1) drop-shadow(0 0 0.5vmin #6666);
	-webkit-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		 -moz-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		   -o-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		 			transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
}

.content.night.scrollHaut
{
	background-image: linear-gradient(to bottom, transparent 96%, #cccc 104%);
}

.content.night.scrollBas
{
	background-image: linear-gradient(to bottom, #cccc -4%, transparent 4%);
}

.content.night.scrollMilieu
{
	background-image: linear-gradient(to bottom, #cccc -4%, transparent 4%, transparent 96%, #cccc 104%);
}

#sign.night
{
	margin: 3%;
	width: 70%;
	filter: invert(0.8);
}

#fleche.night img
{
	filter: drop-shadow(0 0 0 #dddc) grayscale(100%) invert(0.8);
}

#fleche.night img:hover
{
	filter: drop-shadow(0 1.5vmin 1vmin #dddc) grayscale(100%) invert(0.8);
}

.hidden.night
{
  filter: drop-shadow(0 0 0 #6666) grayscale(100%) invert(0.8);
}

.shown.night
{
  filter: drop-shadow(0vmin -0.3vmin 0.3vmin #6666) grayscale(0%);
}

.detail.night img
{
	box-shadow: 0 0 1vmin #6666;
}

#mentions.night
{
	background-color: #111;
}

/*************************************/
/*************** MENU ****************/
/*************************************/

#menu.night
{
	background-color: #111;
}

#toggleMenu.night
{
	background-color: #111;
}

#toggleMenu.night:hover
{
	background-color: #222;
}

#toggleMenu.night:hover #hamburger
{
	background-color: #800;
}

#hamburger.night,
#hamburger.night::before,
#hamburger.night::after
{
	background-color: #999;
}

.chgmtPage.night
{
	background-color: #3333;
	border: solid 0.1vmin #6666;
}

.chgmtPage:hover.night
{
	background-color: #3336;
	border: solid 0.1vmin rgb(157,0,0);
	color: rgb(211,0,0);
}

.chgmtPage.night img
{
	filter: grayscale(100%) invert(0.8) brightness(1);
}

.chgmtPage:hover.night img
{
	filter: grayscale(0%) invert(0) brightness(1.5);
}

.pageActive.night
{
	background-color: #3336;
	border: solid 0.1vmin rgb(157,0,0);
	color: rgb(211,0,0);
}

.pageActive.night img
{
	filter: grayscale(0%) invert(0) brightness(1.5);
}

.cookies.night
{
	background-color: #3333;
	border: solid 0.1vmin #6666;
}

.cookies.night:hover
{
	background-color: #3336;
	border: solid 0.1vmin rgb(157,0,0);
	color: rgb(211,0,0);
}

/*************************************/
/************** SCROLL ***************/
/*************************************/

#scrollBar.night
{
	background-color: #252525;
	box-shadow: 0 0 0.5vmin #ccc9;
}

#scrollBar.night:hover
{
	background-color: #333;
	box-shadow: 0 0 0.5vmin #cccc;
}

#scrollBar.night #scrollTrack
{
	background-color: #555;
}

#scrollBar.night:hover #scrollTrack
{
	background-color: #666;
}



@media all and (max-width: 900px), all and (orientation: portrait)
{

	/*************************************/
	/*************** MENU ****************/
	/*************************************/

	#menu
	{
		background-color: #fffd;
		bottom: auto;
		height: auto;
		padding: 0;
		top: -37vmin; /* 6 * (50 + 2 * 5) + 10 -> nb de page * (leur taille + 2 * leur padding) + box-shadow*/
	}

	#menu.oui
	{
		top: 0;
	}

	#toggleMenu
	{
		display: flex;
	}

	#pages
	{
		align-items: center;
		flex-direction: column;
	}

	.chgmtPage
	{
		background-color: transparent;
		background-image: linear-gradient(to right, transparent, #aaa3, transparent);
		border: none;
		border-bottom: solid 0.1vmin transparent;
		border-image: linear-gradient(to right, transparent, #aaaa, transparent) 1;
		border-top: solid 0.1vmin transparent;
		width: 100%;
	}

	.chgmtPage:hover,
	.pageActive
	{
		background-color: transparent;
		background-image: linear-gradient(to right, transparent, #aaa1, transparent);
		border: none;
		border-bottom: solid 0.1vmin transparent;
		border-image: linear-gradient(to right, transparent, rgb(100,0,0), transparent) 1;
		border-top: solid 0.1vmin transparent;
	}

	.content
	{
		overflow: hidden;
		padding-bottom: 5%;
	}


	#mode
	{
		height: 5vmin;
		right: 2vmin;
		top: 1vmin;
	}

	#moon
	{
		height: 95%;
		opacity: 0;
		-webkit-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
			 -moz-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
			   -o-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
			 			transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		right: -11vmin;
		z-index: 101;
	}

	#sun
	{
		filter: invert(0) drop-shadow(0 0 0.5vmin #6666);
		height: 100%;
		-webkit-transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
			 -moz-transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
			   -o-transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
			 			transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
	}

	.content
	{
		padding: 3% 15%;
	}

	.detail img
	{
		max-width: 100%;
	}

	#cookie
	{
		max-width: none;
		left: 12%;
		right: 12%;
	}

	/******************************************************************************/
	/*******************************   NIGHT MODE   *******************************/
	/******************************************************************************/

	/*************************************/
	/*************** MENU ****************/
	/*************************************/

	#menu.night
	{
		background-color: #111d;
	}

	.chgmtPage.night
	{
		background-image: linear-gradient(to right, transparent, #3336, transparent);
		border-image: linear-gradient(to right, transparent, #6666, transparent) 1;
	}

	.chgmtPage.night:hover,
	.pageActive.night
	{
		background-image: linear-gradient(to right, transparent, #3338, transparent);
		border-image: linear-gradient(to right, transparent, rgb(157,0,0), transparent) 1;
	}

	.chgmtPage.night:hover img,
	.pageActive.night img
	{
		filter: grayscale(0%) invert(0) brightness(2);
	}

}

@media all and (min-aspect-ratio: 18/9)
{
	body
	{
		font-size: 2vmax;
	}

	h1
	{
		font-size: 4.2vmax;
	}

	h2
	{
		font-size: 2vmax;
	}

	#mentions h1
	{
		font-size: 2.8vmax;
	}

	#citation
	{
		font-size: 4vmax;
	}

	#citation2
	{
		font-size: 3.5vmax;
	}

	#fin
	{
		font-size: 1.5vmax;
	}
}
