
html, body
{
	background: white;
	color: rgb(6,6,6);
	font-family: 'Bai Jamjuree', sans-serif;
	min-height: 100%;
	font-size: 1.02em;
	width: 100%;
}

body
{
	padding-bottom: 100px;
}

#oui
{
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
	padding: 3% 3% 0;
	width: 100%;
}

a
{
	color: inherit;
	text-decoration: none;
}

a:hover,
#mp3:hover,
#wav:hover
{
	cursor: pointer;
	text-decoration: underline;
}

audio
{
	padding: 20px;
	width: 70%;
}

#album
{
	width: 30%;
}

#compression
{
	align-items: center;
	border-radius: 5px;
	display: none;
	flex-direction: column;
	justify-content: center;
	padding: 1%;
	width: 100%;
}

#compressionMP3,
#compressionWav
{
	background-color: #222;
	border: solid 2px #444;
	border-radius: 5px;
	box-shadow: 0 0 5px #666;
	display: none;
	font-size: 0.95em;
	height: 25px;
	margin-top: 10px;
	width: 10%;
}

#compressionMP3Val,
#compressionWavVal
{
	align-items: center;
	background-color: #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	color: rgb(6,6,6);
	display: flex;
	font-weight: 700;
	height: 100%;
	justify-content: center;
	padding: 3px 5px;
	text-shadow: 0 0 10px #ccc;
	transition: all 0.5s;
	width: 0%;
}

figure
{
	bottom: 0;
	position: fixed;
	width: 100%;
}

.hangeul
{
	font-family: 'Nanum Myeongjo', serif;
}

table
{
	border-collapse: collapse;
	box-shadow: 0 0 5px #6666;
	margin: 3%;
	text-align: center;
	width: 66.6%;
}

table,
td,
th,
tr
{
	padding: 2%;
}

th
{
	background-image: linear-gradient(to bottom, #f8f4f1, transparent 110%);
	font-size: 1.2em;
	text-shadow: 0 0 2px #ccc;
}

.play
{
	cursor: pointer;
}

.play:hover
{
  box-shadow: 0 0 10px 3px #f6f4f1;
}

.play img
{
	opacity: 0.3;
	height: 15px;
	width: 15px;
}

.play:hover img
{
	opacity: 0.8;
}

.lecture
{
  box-shadow: 0 0 10px 3px #f6f4f1;
}

.lecture img
{
	opacity: 0.8;
}

hr
{
	border-bottom: solid 1px transparent;
	border-image: linear-gradient(to right, transparent, #666, transparent) 1 0%;
	margin: 30px auto;
	width: 70%;
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/*************************************************                    *************************************************/
/***********************************************     MEDIA CONTROLS     ***********************************************/
/*************************************************                    *************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/


figure
{
	background-color: white;
	box-shadow: 0 0 5px #6666;
	box-sizing: content-box;
	width: 100%;
	z-index: 2097153; /* 2^21 + 1 *//* oui */
}

#mediaControls
{
	align-items: center;
  box-sizing: border-box;
	display: flex;
	height: 50px;
	justify-content: space-around;
	padding: 0 1%;
	width: 100%;
}

#mediaControls button
{
	align-items: center;
	background-color: transparent;
	border: none;
	box-sizing: content-box;
	cursor: pointer;
	display: flex;
	height: 25px;
	justify-content: center;
	margin: 0 0.5%;
	padding: 5px;
	width: 25px;
}

#mediaControls button img
{
	position: fixed;
	opacity: 0.8;
}

#mediaControls input
{
	cursor: pointer;
}

#timeText
{
	font-family: 'Cutive Mono', monospace;
	font-size: 1.1em;
	margin: 0 1%;
}

#mediaControls #playPauseImg
{
	height: 15px;
	width: 15px;
}

#mediaControls #precedante img,
#mediaControls #suivante img
{
	width: 20px;
}

#mediaControls #alea img,
#mediaControls #boucle img
{
	opacity: 0.3;
	width: 20px;
}

#volumeImgs
{
	cursor: pointer;
	margin: 0 0.5%;
	height: 26px;
	width: 26px;
}

.volumeImg
{
	height: 26px;
	position: fixed;
	width: 26px;
}

.volumeImg:last-child
{
	opacity: 0;
}

#mediaControls button:hover
{
	background: #eee;
	border-radius: 5px;
	box-shadow: 0 0 10px #6666;
}

#seekSlider
{
	flex: 1;
}

.slider,
::-webkit-slider-thumb
{
	-webkit-appearance: none;
	   -moz-appearance: none;
					appearance: none;
	background-color: transparent;
}

::-moz-range-track
{
	background-color: #ccc;
	border-radius: 5px;
	height: 6.66px;
	margin: 0 0.5%;
}
::-webkit-slider-runnable-track
{
	background-color: #ccc;
	border-radius: 3px;
	height: 6.66px;
	margin: 0 0.5%;
}
::-ms-track
{
	background-color: #ccc;
	border-radius: 3px;
	height: 6.66px;
	margin: 0 0.5%;
}


/* Mozilla c'est nul */
/*
::-moz-range-track:hover
{
	box-shadow: 0 0 10px #666;
}*/
::-webkit-slider-runnable-track:hover,
::-webkit-slider-runnable-track:focus
{
	box-shadow: 0 0 5px #6664;
}
::-ms-track:hover,
::-ms-track:focus
{
	box-shadow: 0 0 5px #6664;
}

::-moz-range-thumb
{
	background-color: #ddd;
	border: none;
	border-radius: 0;
	height: 15px;
	margin: -4px 0;
	width: 15px;
}
::-webkit-slider-thumb
{
	background-color: #ddd;
	border: none;
	border-radius: 3px;
	height: 15px;
	margin: -4px 0;
	width: 15px;
}

::-moz-range-thumb:hover,
::-moz-range-thumb:focus
{
	box-shadow: 0 0 5px #6664;
}
::-webkit-slider-thumb:hover,
::-webkit-slider-thumb:focus
{
	box-shadow: 0 0 5px #6664;
}
